* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: #790909;
    background: linear-gradient(177deg, rgba(121, 9, 9, 1) 0%, rgba(237, 21, 21, 1) 35%, rgba(255, 122, 122, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

@font-face {
    font-family: "Archivo Black";
    src: url(fontes/ArchivoBlack-Regular.ttf);
}

header {
    text-align: center;
    padding: 20px;
    background-color: black;
}

header>.titulo {
    color: red;
    font-family: "Archivo Black", sans-serif;

}

.container {
    margin: auto;
    text-align: center;
    padding: 30px;


}

.container>h2 {
    text-transform: uppercase;
    font-family: "Archivo Black", sans-serif;
    color: white;

}

.container__card{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.card {
    width: 180px;
    height: 180px;
    background-color: rgba(255, 136, 136, 0.765);
    padding: 10px;
    border-radius: 20px;
}

.card__arquivos {

    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card__arquivos>h3 {

    color: white;

}
